:root {
  --PrimaryColor: hsl(199, 100%, 33%);
  --SecondaryColor: hsl(187, 85%, 43%);
  --gradientColor: linear-gradient(to right, var(--SecondaryColor), var(--PrimaryColor));
  --whiteColor: hsl(0, 0%, 100%);
  --blackColor: hsl(201, 33%, 16%);
  --textColor: hsl(240, 4%, 36%);
  --whiteColorDeam: hsl(0, 0%, 93%);
  --greyText: rgb(190, 190, 190);
  --inputColor: rgb(239, 239, 239);
  --bodyColor: rgb(240, 240, 246);
  --cardBG: rgb(225, 225, 235);
  --cardHover: rgb(255, 255, 255);
}

/* Main content */
.main {
  width: 100%;
  position: relative;
  z-index: 1;
}



.main .secTitle .title {

    color: var(--PrimaryColor); /* Change color to PrimaryColor */
    font-size: 2rem; /* Increase font size */
    background-color: var(--whiteColorDeam); /* Add background color */
    padding: 0.5rem 1rem; /* Add padding for better readability */
    border-radius: 5px; /* Add border radius for a rounded look */
    display: inline-block; /* Ensure it behaves as a block element */
  

}

.main .secTitle .title::after {
  background: var(--SecondaryColor);
  bottom: 5px;
  content: "";
  height: 5px;
  position: absolute;
  right: 0;
  width: 120px;
  z-index: -1;
}

.main .secContent {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.main .secContent .singleDestination {
  background: var(--cardBG);
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(140, 140, 141, 0.549);
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
  padding: 1rem;
  width: calc(50% - 20%);
}

.main .secContent .singleDestination:hover {
  background: var(--cardHover);
  box-shadow: 1px 4px 4px rgba(85, 85, 114, 0.549);
  transform: scale(1.03);
  transition: transform 0.5s ease;
}

.main .secContent .singleDestination .imageDiv {
  height: 180px;
  overflow: hidden;
  width: 100%;
}

.main .secContent .singleDestination .imageDiv img {
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
  width: 100%;
}

.main .secContent .singleDestination:hover .imageDiv img {
  transform: scale(1.1);
}

.main .secContent .singleDestination .cardInfo {
  padding: 1rem;
}

.main .secContent .singleDestination .cardInfo .destTitle {
  color: var(--blackColor);
  font-size: 1.25rem;
}

.main .secContent .singleDestination .cardInfo .conTinent {
  align-items: center;
  display: flex;
  gap: 0.5rem;
}

.main .secContent .singleDestination .cardInfo .conTinent .icon {
  color: var(--textColor);
  font-size: 18px;
}
.main .secContent .singleDestination .cardInfo .conTinent .name {
  color: var(--textColor);
  font-size: 14px;
  font-weight: 400;
}

.main .secContent .singleDestination .cardInfo .fees {
  align-items: center;
  border-bottom: 1.5px solid var(--greyText);
  border-top: 1.5px solid var(--greyText);
  display: flex;
  justify-content: space-between;
  margin: 1rem 0;
  padding: 1rem;
  width: 100%;
}

.main .secContent .singleDestination .cardInfo .fees .grade {
  align-items: center;
  color: var(--textColor);
  display: flex;
  justify-content: center;
  line-height: 20px;
  max-width: 100px;
}

.main .secContent .singleDestination .cardInfo .fees .grade small {
  background: var(--gradientColor);
  border-radius: 1rem;
  color: var(--whiteColor);
  font-size: 10px;
  padding: 1px 10px;
  text-align: center;
}

.main .secContent .singleDestination .cardInfo .fees .price {
  color: var(--blackColor);
  font-size: 2rem;
}

.main .secContent .singleDestination .cardInfo .desc {
  color: var(--textColor);
  font-size: 13.5px;
  font-weight: 500;
}

.main .secContent .singleDestination .cardInfo .btn {
  align-items: center;
  color: var(--whiteColor);
  display: flex;
  font-weight: 600;
  gap: 0.5rem;
  justify-content: space-between;
  margin-top: auto;
}

.main .secContent .singleDestination .cardInfo .btn .icon {
  align-self: center;
  font-size: 18px;
}

/* Add these styles to adjust item layout on smaller screens */
@media (max-width: 768px) {
  .main .secContent .singleDestination {
    width: calc(100% - 20px);
  }
}