.navBarSection {
  width: 100%;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--whiteColorDeam);
  padding: 1rem;
  box-shadow: 0 2px 4px rgba(2, 15, 29, 0.904);
 
}

.logoDiv {
  flex: 1; /* Take up available space */
}

.logo {
  color: #19747E; /* Change to desired color */
  text-decoration: none;
  display: flex;
  align-items: center;
}

.logo h1 {
  margin: 0;
}

/* Add a new class for the active state */
.activeNavItem {
  color: #E07A5F; /* Change to desired active color */
}
.navLink {
  color: #19747E; /* Change text color */
  text-decoration: none;
}
.navLists {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex; /* Display items side by side */
}

.navItem {
  margin-right: 1rem; /* Add spacing between items */
}

.navItem:last-child {
  margin-right: 0; /* Remove margin from last item */
}

.closeNavbar {
  cursor: pointer;
}

.active .navLinks {

  display: block; /* Display items vertically when active */
}
